.env
.env.local
node_modules/
build/
__pycache__/
*.pyc
.venv/
venv/
backups/
deploy/certbot/conf/
deploy/certbot/www/
uploads/*
!uploads/.gitkeep
.DS_Store
*.log
/plan.md
/design_guidelines.md
/test_reports/
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/9.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/8.pack
frontend/node_modules/.cache/default-development/3.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/18.pack
